In [21]:
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

In [27]:
df = pd.read_csv('../../Data/Fish/total_fish_supply.csv')
df_landings = pd.read_csv('../../Data/Fish/Updated-Total-Landings.csv')
df_farmscap = pd.read_csv('../../Data/Fish/farmsandcapture_cleaned.csv')
df_cons = pd.read_csv('../../Data/Fish/fishconsumption_cleaned.csv')

In [23]:
df

# need to clean total fish supply

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Year,Product,Commercial Landings,Imports,Exports,Total Supply
1,2021,EDIBLE AND NON-EDIBLE,"8,573,590","14,384,453","7,246,859","15,711,184"
2,2020,EDIBLE AND NON-EDIBLE,"8,401,031","13,050,008","7,215,489","14,235,550"
3,2019,EDIBLE AND NON-EDIBLE,"9,370,778","12,433,406","8,437,825","13,366,359"
4,2018,EDIBLE AND NON-EDIBLE,"9,425,680","12,989,798","8,523,337","13,892,141"
...,...,...,...,...,...,...
68,1954,EDIBLE AND NON-EDIBLE,"4,783,727",NaN,NaN,NaN
69,1953,EDIBLE AND NON-EDIBLE,"4,541,451",NaN,NaN,NaN
70,1952,EDIBLE AND NON-EDIBLE,"4,454,820",NaN,NaN,NaN
71,1951,EDIBLE AND NON-EDIBLE,"4,468,280",NaN,NaN,NaN
72,1950,EDIBLE AND NON-EDIBLE,"4,910,009",NaN,NaN,NaN

In [24]:
df_landings

    Unnamed: 0  Year        Pounds  Metric Tons       Dollars  Collection
0            0  1950  4.910009e+09    2227165.0  3.261401e+08  Commercial
1            1  1951  4.468280e+09    2026799.0  3.437687e+08  Commercial
2            2  1952  4.454820e+09    2020693.0  3.422609e+08  Commercial
3            3  1953  4.541451e+09    2059989.0  3.366746e+08  Commercial
4            4  1954  4.783727e+09    2169884.0  3.411977e+08  Commercial
..         ...   ...           ...          ...           ...         ...
67          67  2017  9.958912e+09    4517333.0  5.832311e+09  Commercial
68          68  2018  9.425680e+09    4275460.0  5.692645e+09  Commercial
69          69  2019  9.370778e+09    4250557.0  5.615293e+09  Commercial
70          70  2020  8.401031e+09    3810682.0  4.931423e+09  Commercial
71          71  2021  8.573590e+09    3888955.0  6.480000e+09  Commercial

[72 rows x 6 columns]

In [26]:
df_farmscap

   Code  Year  Aquaculture Production  Captured Fish
0   USA  1960                104421.0      2755715.0
1   USA  1961                102547.0      2979093.0
2   USA  1962                109961.0      2995674.0
3   USA  1963                122697.0      2741650.0
4   USA  1964                123884.0      2585660.0
5   USA  1965                132578.0      2702785.0
6   USA  1966                114236.0      2495433.0
7   USA  1967                127299.0      2377789.0
8   USA  1968                131115.0      2470105.0
9   USA  1969                116768.0      2478221.0
10  USA  1970                168681.0      2836550.0
11  USA  1971                165590.0      2917107.0
12  USA  1972                173630.0      2810040.0
13  USA  1973                170320.0      2836981.0
14  USA  1974                167039.0      2919015.0
15  USA  1975                218459.0      2876146.0
16  USA  1976                183907.0      3111419.0
17  USA  1977                174310.0      3065974.0
18  USA  1978                158795.0      3502537.0
19  USA  1979                138990.0      3609656.0
20  USA  1980                168365.0      3727627.0
21  USA  1981                230111.0      3725240.0
22  USA  1982                261725.0      3977879.0
23  USA  1983                268483.0      4186687.0
24  USA  1984                326453.0      4763710.0
25  USA  1985                323573.0      4744131.5
26  USA  1986                372191.0      4910476.0
27  USA  1987                383259.0      5745394.0
28  USA  1988                357657.0      5754885.0
29  USA  1989                369252.0      5579698.5
30  USA  1990                315727.0      5781091.5
31  USA  1991                363083.0      5373133.0
32  USA  1992                413844.0      5473939.5
33  USA  1993                416913.0      5817721.5
34  USA  1994                391412.0      5846727.5
35  USA  1995                413454.0      5414226.0
36  USA  1996                393346.0      5268586.0
37  USA  1997                438356.0      5385731.0
38  USA  1998                445119.0      5059144.0
39  USA  1999                479212.0      5205206.0
40  USA  2000                456830.0      5041558.0
41  USA  2001                480362.0      5275155.0
42  USA  2002                498899.0      5326987.0
43  USA  2003                545971.0      5345396.0
44  USA  2004                607570.0      5363263.0
45  USA  2005                513920.0      5320894.0
46  USA  2006                519967.0      5311208.0
47  USA  2007                526045.0      5189908.0
48  USA  2008                501326.0      4606530.0
49  USA  2009                481224.0      4527104.0
50  USA  2010                496699.0      4687648.0
51  USA  2011                397292.0      5491330.0
52  USA  2012                420386.0      5338928.0
53  USA  2013                429011.0      5581776.0
54  USA  2014                421189.0      5476248.0
55  USA  2015                426002.0      5472360.0
56  USA  2016                444679.0      5463707.0
57  USA  2017                439670.0      5501797.0
58  USA  2018                468185.0      5353303.0

In [28]:
df_cons

   Code  Year  Fish consumption per person per year (kg)
0   USA  1961                                  13.760740
1   USA  1962                                  14.116647
2   USA  1963                                  13.753343
3   USA  1964                                  13.410462
4   USA  1965                                  13.526203
5   USA  1966                                  13.969090
6   USA  1967                                  13.320065
7   USA  1968                                  14.852797
8   USA  1969                                  13.959552
9   USA  1970                                  15.192157
10  USA  1971                                  14.664470
11  USA  1972                                  16.614815
12  USA  1973                                  15.980325
13  USA  1974                                  15.358340
14  USA  1975                                  14.665650
15  USA  1976                                  16.179398
16  USA  1977                                  15.992288
17  USA  1978                                  16.753147
18  USA  1979                                  16.460064
19  USA  1980                                  16.030003
20  USA  1981                                  17.737926
21  USA  1982                                  16.967283
22  USA  1983                                  17.956710
23  USA  1984                                  19.710659
24  USA  1985                                  19.594719
25  USA  1986                                  19.401250
26  USA  1987                                  21.714020
27  USA  1988                                  20.646446
28  USA  1989                                  23.089434
29  USA  1990                                  22.487543
30  USA  1991                                  21.450317
31  USA  1992                                  22.314730
32  USA  1993                                  23.159950
33  USA  1994                                  22.679260
34  USA  1995                                  22.156689
35  USA  1996                                  21.175478
36  USA  1997                                  21.130096
37  USA  1998                                  21.894730
38  USA  1999                                  21.773108
39  USA  2000                                  22.211346
40  USA  2001                                  21.645264
41  USA  2002                                  22.810863
42  USA  2003                                  24.105942
43  USA  2004                                  24.980116
44  USA  2005                                  23.413918
45  USA  2006                                  24.286026
46  USA  2007                                  22.597631
47  USA  2008                                  21.647917
48  USA  2009                                  21.478006
49  USA  2010                                  21.463146
50  USA  2011                                  21.510725
51  USA  2012                                  21.046587
52  USA  2013                                  21.064482
53  USA  2014                                  21.621960
54  USA  2015                                  21.717562
55  USA  2016                                  21.688387
56  USA  2017                                  22.080343
57  USA  2018                                  22.443901
58  USA  2019                                  22.569592
59  USA  2020                                  22.454920