In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

pd.set_option('display.max_columns', None)
df = pd.read_csv('../../Data/final_csv_all_data.csv')

In [20]:
df = df.dropna().reset_index(drop=True)
df.drop('Code', inplace=True, axis=1)

In [21]:
y = df['continent']
df.drop('continent', inplace=True, axis=1)
df.drop('Entity', inplace=True, axis=1)
X = df
df = df.fillna(0)

In [25]:
y = pd.get_dummies(y)

In [26]:
y

      Africa  Asia  Europe  North America  Oceania  South America
0          0     1       0              0        0              0
1          0     1       0              0        0              0
2          0     1       0              0        0              0
3          0     1       0              0        0              0
4          0     1       0              0        0              0
...      ...   ...     ...            ...      ...            ...
8033       1     0       0              0        0              0
8034       1     0       0              0        0              0
8035       1     0       0              0        0              0
8036       1     0       0              0        0              0
8037       1     0       0              0        0              0

[8038 rows x 6 columns]

In [22]:
X

,Year,kg_per_yr_per_capita,Production_in_tons,Population (historical estimates),Life_Expectancy_years
0,1961,0.030559,300.0,8790140,32.96
1,1962,0.030578,300.0,8969055,33.47
2,1963,0.030598,300.0,9157463,33.97
3,1964,0.030614,300.0,9355510,34.46
4,1965,0.030627,300.0,9565154,34.95
...,...,...,...,...,...
8033,2016,3.679239,25800.0,14452705,60.29
8034,2017,3.397224,26800.0,14751101,60.81
8035,2018,3.117559,32300.0,15052191,61.20
8036,2019,2.870986,29230.0,15354606,61.49
8037,2020,2.817092,29230.0,15669663,61.74

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=3)
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [32]:
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error:', mse)
print(model.score(X_test, y_test))

Mean Squared Error: 0.10322153983600489
0.1701359541521356