In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

# Here I'm pulling in the main CSV
I dropped the code column and continent after i made dummy variable columns

In [2]:
pd.set_option('display.max_columns', None)
df = pd.read_csv('../../Data/final_csv_all_data.csv')
df = df.dropna().reset_index(drop=True)
df.drop('Code', inplace=True, axis=1)

In [3]:
dummy = pd.get_dummies(df['continent'])
df = pd.concat([df, dummy], axis=1)
df.drop('continent', inplace=True, axis=1)

# Setting up the X and y
I also had to remove NaN's but i double checked and the intergrity of the overall dataset remained consistant afterwards

In [4]:
df = df.fillna(0)
y = df['Life_Expectancy_years']
df.drop('Life_Expectancy_years', inplace=True, axis=1)
df.drop('Entity', inplace=True, axis=1)
X = df

In [6]:
X

,Year,kg_per_yr_per_capita,Production_in_tons,Population (historical estimates),Africa,Asia,Europe,North America,Oceania,South America
0,1961,0.030559,300.0,8790140,0,1,0,0,0,0
1,1962,0.030578,300.0,8969055,0,1,0,0,0,0
2,1963,0.030598,300.0,9157463,0,1,0,0,0,0
3,1964,0.030614,300.0,9355510,0,1,0,0,0,0
4,1965,0.030627,300.0,9565154,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
8033,2016,3.679239,25800.0,14452705,1,0,0,0,0,0
8034,2017,3.397224,26800.0,14751101,1,0,0,0,0,0
8035,2018,3.117559,32300.0,15052191,1,0,0,0,0,0
8036,2019,2.870986,29230.0,15354606,1,0,0,0,0,0
8037,2020,2.817092,29230.0,15669663,1,0,0,0,0,0

# Running the model

This isn't the final y value we will use. We're are planning on using this general model structure and using the model to support visualisations as well as explore possibilities for insights. by changing the y around and also seeing how it looks if we filter by continent.

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error:', mse)
print(model.score(X_test, y_test))

Mean Squared Error: 39.003131839141915
0.6899651360976602